/*******************/
/* HEADER */
/*******************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  /* As we want to make the header sticky so we define a fixed height for it instead of assining paading-top to it */
  height: 9.6rem;
  padding: 0 4.8rem;

  position: relative;
}

.site-logo {
  height: 2.2rem;
}

/***********************/
/* NAVIGATION */
/***********************/

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block; /*For box-property*/
  font-size: 1.8rem;
  text-decoration: none;
  color: #333;
  /* padding: 0.8rem 1.2rem; */
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
  /* text-decoration: underline #cf711f; */
}

.main-nav-link.btn--fill:link,
.main-nav-link.btn--fill:visited {
  color: #fff;
  padding: 1.2rem 2.4rem;
}

/* MOBILE NAVIGATION */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

/* Attribute selector */
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-block: 0;
  background-color: rgba(253, 242, 233, 0.98);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.sticky .section-testimonials {
  border-top: 8rem solid rgba(253, 242, 233, 0.98);
}
.sticky .section-cta {
  border-top: 4rem solid #fff;
}

/******************/
/* HERO SECTION */
/******************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  /* We'll not use px to define the length and will use rem. */
  /* max-width: 1300px; */
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3.2rem;
  margin: 0 auto;
  align-items: center;
  gap: 0 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
/* 
.hero-img-box {
  grid-column: 2/3;
  grid-row: 1 / 3;
} */

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 7.2rem;
  gap: 3.2rem;
  padding-bottom: 3.2rem;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  outline: #fdf2e9 solid 3px;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
}

/*********************/
/* FEATURED IN */
/*********************/

.section--featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading--featured {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  color: #808080;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logos img {
  height: 3.2rem;

  /* To adjust the color of the logos we use filter and opacity css properties */
  filter: brightness(0);
  opacity: 50%;
}

/************************/
/* HOW IT WORKS SECTION */
/************************/

.section-how-it-works {
  padding: 9.6rem 0;
}

.step-number {
  display: block;
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd; /* We'll choose a lighter shade for the text. */
  margin-bottom: 1.6rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  /* color: #666; */
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Create two pseudo elements for designing the circles around the app-screen.. */

.step-img-box::before,
.step-img-box::after {
  content: "";
  border-radius: 50%;

  /* Used to make the element out of flow and to center it around the other element. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;

  /* The height won't apply to the pseudo elements with %age unit as for that there need to be height defined explicitly to the parent element which is not the case here. */

  /* height: 0px; */

  /* To overcome that we can use approcahes like :
  1. Make aspect ratio : 1 this will make a perfect square.
  2. Make padding bottom equal to the width. */

  padding-bottom: 60%;
  background-color: #fdf2e9;

  /* Used to make the element out of flow and to center it around the other element. */

  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/*****************/
/* MEALS SECTION */
/*****************/

.section-meals {
  padding: 9.6rem 0;
}

.meals {
  border-radius: 11px;
  /* This property helps to make the image round at the borders. */
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.075);
  transition: all 0.5s;
}

.meals:hover {
  cursor: pointer;
  transform: translateY(-2rem);
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.15);
}

.meal-tags {
  display: flex;
  gap: 1.2rem;
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #333;
  padding: 0.4rem 0.8rem;
  /* We can specify any large value and it will adjust according to its height */
  border-radius: 100px;
  margin-bottom: 1.2rem;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meals-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.meals-content {
  padding: 4.8rem;
  padding-top: 3.2rem;
}

.meals-img {
  width: 100%;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.meals-attribute-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meals-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.list-item span {
  padding-bottom: 2px;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

/****************************/
/* TESTIMONIALS AND GALLERY */
/****************************/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

/* TESTIMONIALS */
.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

/* GALLERY */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  /* height: 100%;
  object-fit: cover; */
  transition: all 0.5s;
}

.gallery-item img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.gallery:has(.gallery-item img:hover) img:not(:hover) {
  transform: scale(0.8);
  opacity: 0.7;
}

/************************/
/* PRICING AND FEATURES */
/************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
  transition: all 0.4s;
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.075);
}

.pricing-plan:hover,
.pricing-plan:active {
  transform: translateY(-5px);
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.15);
}

.pricing-plan--starter {
  justify-self: end;
  outline: 2px solid #fdf2e9;
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best Value";
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  letter-spacing: 0.75;

  position: absolute;
  top: 7%;
  right: -17%;

  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  font-size: 2rem;
  color: #cf711f;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3.2rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
  margin-bottom: 9.6rem;
  margin-top: -4.8rem;
}

/* FEATURES */

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/***************/
/* CTA SECTION */
/***************/

.section-cta {
  /* padding: 9.6rem 0; */
  padding: 3.2rem 0 12.8rem 0;
}

/* We'll not make use of the reusable grid as we want to style the columns differently. */
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.15);
  /* Background-color and fot this we are making use of linear gradient */

  /* Default vale is top to bottom */
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}

.cta-text-box {
  /* top/horizontal/bottom */
  padding: 4.8rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading--secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

/* We'll use the background-image instead of the <img> tag as the img is not important for the content and is present only for visual presence. */
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}

/* FORM */
.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  font-weight: 500;
}

/* We can see that he font-family is not directly inheruted for the input elements. */

.cta-form input,
.cta-form select {
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem;

  border: none; /* To nullify the default border present in the input elements.*/

  border-radius: 9px;
  background-color: #fdf2e9;
  font-family: inherit;
  color: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/******************/
/* FOOTER SECTION */
/******************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.logo {
  height: 2.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

/* By default the address font-style is italic*/
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.cont {
  list-style: none;
}

.address {
  margin-bottom: 2.4rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  color: #767676;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 100%;
  background: #141c38;
  padding: 1.2rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s;
  z-index: 99999;
}

.hidden {
  opacity: 0%;
  display: none;
}

.back-to-top-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #7ac9f9;
}

.back-to-top:hover {
  opacity: 60%;
}
