/**************************************/
/* MEDIA at 1338px (Smaller desktops) */
/**************************************/

/* For media queries em is the preferred unit. rem has some issues with safari browser and px is rigid.  */

/* 1338/16 = 83.625em ~ 84em */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading--primary {
    font-size: 4.4rem;
  }

  .delivered-imgs img {
    width: 4rem;
    height: 4rem;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-item:nth-child(9),
  .gallery-item:nth-child(10),
  .gallery-item:nth-child(11),
  .gallery-item:nth-child(12) {
    display: none;
  }
}

/****************************************/
/* MEDIA at 1200px (Landscapes tablets) */
/****************************************/

/* 1230/16 = 77em */

@media (max-width: 77em) {
  html {
    /* Scaling down the font size from 10px to 9px. (9/16 = 0.5625) */
    font-size: 56.25%;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .grid {
    column-gap: 3.2rem;
    row-gap: 6.4rem;
  }

  .heading--secondary {
    font-size: 3.6rem;
  }

  .heading--tertiary {
    font-size: 2.4rem;
  }
}

/****************************************/
/* MEDIA at 1050px (Tablets) */
/****************************************/

/* 1050/16 = 65.625 ~ 66em */

@media (max-width: 66em) {
  html {
    /* 8/16 = 0.5 => 50% */
    font-size: 50%;
  }
  /* This media query is valid till 930px. */
}

/* BELOW 944px */

@media (max-width: 59em) {
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .hero-img {
    width: 60%;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meals-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .testimonials-container {
    padding: 8rem;
  }

  .testimonials-container .heading--secondary {
    margin-bottom: 8rem;
  }

  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 6.4rem;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .gallery-item:nth-child(9),
  .gallery-item:nth-child(10),
  .gallery-item:nth-child(11),
  .gallery-item:nth-child(12) {
    display: contents;
  }

  .pricing-plan {
    width: 85%;
    padding: 4.8rem 3.2rem;
  }

  .pricing-plan--complete::after {
    top: 5.5%;
    right: -21.5%;
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.4rem;
    row-gap: 3.2rem;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION STYLE */

  .btn-mobile-nav {
    display: block;
    z-index: 9999; /*To fix the focus state*/
  }

  .main-nav {
    background-color: rgba(253, 242, 233, 0.98);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    /* To style the navbar at the center */
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease-in-out;

    /* HIDE NAVIGATION */
    /*********************/
    opacity: 0;

    pointer-events: none;

    visibility: hidden;

    /***********************/
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/****************************************/
/* MEDIA at 748px (Smaller tablets) */
/****************************************/

@media (max-width: 47em) {
  .grid--3--cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 /-1;
    justify-self: center;
  }

  .testimonial-text {
    font-size: 1.6rem;
  }

  .testimonial-name {
    font-size: 1.4rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .logos img {
    height: 2rem;
  }

  /* For uneven grids we'll use another trick to make them look equal */
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
    grid-row: 2;
  }
}

/****************************************/
/* MEDIA at 544px (Phones) */
/****************************************/

@media (max-width: 34em) {
  html {
    font-size: 43.75%;
  }

  .grid--2--cols,
  .grid--3--cols,
  .grid--4--cols {
    grid-template-columns: 1fr;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    gap: 4.8rem;
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 85%;
  }

  .delivered-imgs img {
    width: 3.2rem;
    height: 3.2rem;
  }

  .delivered-text {
    font-size: 1.4rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .logos img {
    height: 1.4rem;
  }

  .section-how-it-works,
  .section-meals,
  .section-pricing {
    padding: 6.4rem 0;
  }

  .heading--secondary {
    margin-bottom: 6.4rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .step-number {
    font-size: 6.2rem;
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .testimonials-container {
    padding: 6.4rem;
  }

  .testimonials-container .heading--secondary {
    margin-bottom: 6.4rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .pricing-plan--complete::after {
    top: 7%;
    right: -13%;
  }

  .cta {
    grid-template-columns: 1fr;
  }
  /* As we don't have any content inside the .cta-img-box. So the image disappears when we set the grid to one column. To fix this we need to set the height of the .cta-img-box container. */

  .cta-img-box {
    grid-row: 1;
    height: 32rem;
  }

  .cta-text-box {
    padding: 4.8rem;
  }
}

/* - Font sizes (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


  - Letter spacing(px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/****************************************/
/* Fixing safari flexbox gap */
/****************************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 77em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
